.key {
  padding: 4px 10px;
  margin: 0;
  border-radius: 4px;
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900);
}
.correct {
  background: var(--color-success);
  border-color: var(--color-success);
  color: white;
}
.incorrect {
  background: var(--color-gray-300);
  border-color: var(--color-gray-300);
  color: white;
}
.misplaced {
  background: var(--color-warning);
  border-color: var(--color-warning);
  color: white;
}